<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
</head>

<body>
  <script src=""></script>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
      <a class="navbar-brand title" href="#">Todo Fancy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button class="btn btn-primary" @click="getCompletedTodo()">
              Completed ToDo
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" @click="getUncompletedTodo()">
              Uncompleted ToDo
            </button>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 pt-2">
          <p>
            <i class="fas fa-user"></i> Hello, {{ user }}
            <button class="btn btn-success" @click="logout()">Logout</button>
          </p>
        </form>
      </div>
    </nav>
    <div class="text-center mb-4" style="padding-top: 80px">
      <img class="mb-4" src="http://www.iconarchive.com/download/i18743/iconshock/real-vista-project-managment/task-notes.ico"
        alt="todo" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Todo Fancy Apps</h1>
      <p class="h3 mb-3 font-weight-normal">This apps will be help you to remind anythings todo or planing activity</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTodo">
        <i class="fas fa-sticky-note"></i> Add Note</button>
    </div>

    <div class="modal fade" id="addTodo" tabindex="-1" role="dialog" aria-labelledby="addTodoLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <i class="fas fa-sticky-note"></i> Add Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Task:</label>
                <input type="text" class="form-control" id="taskName" v-model:value="task">
              </div>
              <div class="form-group">
                <label class="col-form-label">Plane Date:</label>
                <br>
                <input type="date" class="form-control" id="plainDate" v-model:value="plainDate">
              </div>
              <div class="form-group">
                <label class="col-form-label">Descriptions:</label>
                <br>
                <textarea name="descriptions" id="descriptionsName" cols="55" rows="5" v-model:value="descriptions"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addTodo()">Add ToDo</button>
          </div>
        </div>
      </div>
    </div>
    <div id="msg">
      {{ msg }}
    </div>
    <h1>All Tasks</h1>
    <hr class="bg-dark">
    <div class="containerCard row">
      <div v-for="note in notes" class="subCardContainer">
        <div class="card col-12 col-sm-12 col-lg-9 col-md-12 col-xl-9 cardDeck" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">{{ note.task }}</h5>
            <p class="card-text">{{ note.description }}</p>
            <p class="card-text">{{ formatDate(note.plainDate) }}</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editTodo" @click="findOneTodo(note._id)">Edit</button>
            <button type="button" class="btn btn-primary" @click="removeTodo(note._id)">Delete</button>
            <button v-if="note.status === true" type="button" class="btn btn-success" @click="notifCompleted()">
              <i class="fas fa-check-circle"></i>
            </button>
            <button v-else class="btn btn-primary" type="button" ><i class="fas fa-times-circle" @click="markCompletedTodo(note._id)"></i></button>
          </div>
          <div class="modal fade" id="editTodo" tabindex="-1" role="dialog" aria-labelledby="editTodoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    <i class="fas fa-sticky-note"></i> Edit Todo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Task:</label>
                      <input type="text" class="form-control" v-model:value="task">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Plane Date:</label>
                      <br>
                      <input type="date" class="form-control" v-model:value="plainDate">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Descriptions:</label>
                      <br>
                      <textarea name="descriptions" cols="55" rows="5" v-model:value="descriptions"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" @click="editTodo(id)">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="completedTask" style="padding-top: 10px">
      <h1>Completed Tasks</h1>
      <hr class="bg-dark">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Task</th>
            <th>Description</th>
            <th>Planning Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="completedTask in completedTasks">
            <td>{{ completedTask._id }}</td>
            <td>{{ completedTask.task }}</td>
            <td>{{ completedTask.description }}</td>
            <td>{{ formatDate(completedTask.plainDate) }}</td>
            <td v-if="completedTask.status === true">
              <i class="fas fa-check-circle"></i> Completed</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="unCompletedTasks" style="padding-top: 10px">
      <h1>Uncompleted Tasks</h1>
      <hr class="bg-dark">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Task</th>
            <th>Description</th>
            <th>Planning Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="unCompletedTask in unCompletedTasks">
            <td>{{ unCompletedTask._id }}</td>
            <td>{{ unCompletedTask.task }}</td>
            <td>{{ unCompletedTask.description }}</td>
            <td>{{ formatDate(unCompletedTask.plainDate) }}</td>
            <td v-if="unCompletedTask.status === false">
              <i class="fas fa-times-circle"></i> not Completed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    let isLogin = localStorage.getItem('tokenTodo')
    if (!isLogin) {
      window.location = 'http://localhost:8080/login.html'
    }
    new Vue({
      el: '#app',
      data: {
        id: '',
        user: '',
        task: '',
        descriptions: '',
        plainDate: '',
        notes: [],
        msg: '',
        completedTasks: '',
        unCompletedTasks: ''
      },
      methods: {
        addTodo: function () {
          axios.post('http://localhost:3000/users/todo/create', {
            task: this.task,
            description: this.descriptions,
            plainDate: this.plainDate,
            user: localStorage.getItem('tokenTodo')
          })
            .then(result => {
              if (result) {
                swal(`Successfully to added ToDo`, "", "success");
                setInterval(function () {
                  window.location.reload()
                }, 1000)
              }
            })
            .catch(err => {
              swal(`Please fill form input`, "", "error");
            })
        },
        removeTodo(id) {
          axios.delete(`http://localhost:3000/users/todo/delete/${id}`)
            .then(result => {
              swal(`Todo Has been deleted`, "", "success");
              setInterval(function () {
                window.location.reload()
              }, 1000)
            })
            .catch(err => {
              swal(`Cannot removed ToDo`, "", "error");
            })
        },
        findOneTodo(id) {
          axios.get(`http://localhost:3000/users/todo/${id}`)
            .then(result => {
              let plainDate = result.data.data.plainDate
              let task = result.data.data.task
              let descriptions = result.data.data.description
              this.descriptions = descriptions
              // this.plainDate = `${yyyy}/0${mm}/${dd}`
              this.id = result.data.data._id
              this.task = task
            })
            .catch(err => {
              swal(`cannot find todo`, "", "error");
            })
        },

        editTodo(id) {
          axios.put(`http://localhost:3000/users/todo/edit/${id}`, {
            task: this.task,
            plainDate: this.plainDate,
            description: this.descriptions
          })
            .then(result => {
              swal(`Successfully to modified`, "", "success");
              setInterval(function () {
                window.location.reload()
              }, 1000)
            })
            .catch(err => {
              // console.log(err);
              swal(`${err}`, "", "error");
            })
        },
        logout() {
          localStorage.removeItem('tokenTodo')
          window.location = 'http://localhost:8080/login.html'
        },
        formatDate: function (plainDate) {
          let month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'Desember']
          let date = new Date(plainDate)
          let yyyy = date.getFullYear()
          let mm = date.getMonth()
          let dd = date.getDate()
          return `${dd}/${month[mm]}/${yyyy}`
        },
        getUncompletedTodo() {
          // console.log('uncompleted');
          let tokenTodo = localStorage.getItem('tokenTodo')
          axios.get(`http://localhost:3000/users/todo/completed/false?token=${tokenTodo}`)
            .then(result => {
              this.unCompletedTasks = result.data.data
              if(this.unCompletedTasks.length === 0) {
                swal(`Nothing uncompleted ToDO`, "", "warning");
              }
            })
            .catch(err => {
              swal(`${err}`, "", "error");
            })
        },
        getCompletedTodo() {
          // console.log('completed');
          let tokenTodo = localStorage.getItem('tokenTodo')
          axios.get(`http://localhost:3000/users/todo/completed/true?token=${tokenTodo}`)
            .then(result => {
              this.completedTasks = result.data.data
            })
            .catch(err => {
              swal(`${err}`, "", "error");
            })
        },
        markCompletedTodo(id) {
          axios.post(`http://localhost:3000/users/todo/markComplete`, {
            id: id
          })
            .then(result => {
              swal(`ToDo mark Completed`, "", "success");
              setInterval(function() {
                window.location.reload()
              }, 1000)
            })
            .catch(err => {
              swal(`${err}`, "", "error");
            })
        },
        notifCompleted() {
          swal(`ToDo already mark Completed`, "", "warning");
        }
      },
      compute: {

      },
      mounted() {
        let tokenTodo = localStorage.getItem('tokenTodo')
        if(tokenTodo) {
          axios.get(`http://localhost:3000/users/todo?accessToken=${tokenTodo}`)
            .then(result => {
              this.user = result.data.user || 'admin'
              this.notes = result.data.data // data todo list
              let notes = this.notes
              for(let i = 0; i < notes.length; i++) {
                let planningDate = new Date(notes[i].plainDate)
                let pD = planningDate.getDate()
                let pM = planningDate.getMonth()
                let pY = planningDate.getFullYear()
                let currentDate = new Date()
                let cD = currentDate.getDate()
                let cM = currentDate.getMonth()
                let cY = currentDate.getFullYear()
                let current = `${cD}/${cM}/${cY}`
                let planning = `${pD}/${pM}/${pY}`
                if(current === planning) {
                  if(notes[i].status === false) {
                    let containArr = []
                    containArr.push(notes[i])
                    if(i == notes.length - 1) {
                      axios.post(`http://localhost:3000/users/todo/sendEmail`, {
                        data: containArr,
                      })
                    }
                  }
                }
              }
              if (this.notes.length === 0) {
                this.msg = 'Empty Todo'
              }
            })
            .catch(err => {
              swal(`${err}`, "", "error");
            })
        }
      },
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>